<section id="hobbies">
  <h5>Free time</h5>
  <h2>Hobbies</h2>
  <p class="text__Hobbies">
    In my leisure time, I have a diverse set of hobbies that keep me engaged and fulfilled. I'm an avid
    football enthusiast, finding joy in the exhilarating thrill of the game. Regular visits to the gym
    not only keep me physically active but also serve as a source of motivation and stress relief. I'm
    also a passionate traveler, always seeking new adventures and experiences in different parts of the
    world.
  </p>
  <p class="text__Hobbies" style="color:var(--color-light);">Exploring different cultures and landscapes brings me a sense of wonder and enrichment.
    Additionally, I have a penchant for studying movies and series, delving into the art of storytelling
    and cinematography, which allows me to appreciate the finer nuances of the entertainment world. These
    hobbies collectively add balance and enjoyment to my life, helping me stay active, curious, and
    culturally enriched.
  </p>
<div class="hobbies__container">
  <div class="hobbies__cards">
    <article class="hobbies__card">
      <i class="fa-regular fa-futbol fa-4x hobbies__icon"></i>
      <br>
      <h3>Football</h3>

    </article>

    <article class="hobbies__card">
      <i class="fa-solid fa-dumbbell fa-4x hobbies__icon"></i>
      <h3>Gym</h3>
    </article>

    <article class="hobbies__card">
      <i class="fa-solid fa-earth-americas fa-4x hobbies__icon"></i>
      <h3>Travel</h3>
    </article>

    <article class="hobbies__card">
      <i class="fa-solid fa-video fa-4x hobbies__icon"></i>
      <h3>Movies</h3>
    </article>
    <article class="hobbies__card">
      <i class="fa-solid fa-tv fa-4x hobbies__icon"></i>
      <h3>Series</h3>
    </article>
    <article class="hobbies__card">
      <i class="fa-solid fa-graduation-cap hobbies__icon"></i>
      <h3>Study</h3>
    </article>
  </div>
</div>
</section>
<app-footer></app-footer>
