<!-- Page Navbar -->
<nav>
  <a  (click)="setActiveNav('#')" routerLink=""
     [ngClass]="activeNav === '#' ? 'active' : ''" href="#">
    <i class="fa-solid fa-user"></i>
  </a>
   <a routerLink="who-am-i"  (click)="setActiveNav('#whoAmI')"
     [ngClass]="activeNav === '#whoAmI' ? 'active' : ''">
    <i class="fa-regular fa-circle-question "></i>
  </a>
  <a routerLink="what-i-do" (click)="setActiveNav('#whatIdo')"
     [ngClass]="activeNav === '#whatIdo' ? 'active' : ''">
    <i class="fa-solid fa-terminal "></i>
  </a>

  <a routerLink="hobbies" (click)="setActiveNav('#hobbies')"
     [ngClass]="activeNav === '#hobbies' ? 'active' : ''">
    <i class="fa-solid fa-gamepad "></i>
  </a>
</nav>
<!-- End of Page Navbar -->
