nav {
  height:45px;
  background:rgba(0,0,0,0.3);
  width: max-content;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom:1rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color:var(--color-light);
  font-size: 1.1rem;
}

nav a:hover{
  background: rgba(0,0,0,0.3);
}

nav a.active {
  background: var(--color-primary);
  color:var(--color-bg);
}


@media screen and (max-width: 1024px){

  nav {
    background:rgba(0,0,0,0.3);
    height: max-content;
    z-index: 2;
    position: fixed;
    left: 4%;
    bottom:28rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }

  nav a {
    height:45px;
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    color:var(--color-light);
    font-size: 1.1rem;
  }

  nav a:hover{
    background: rgba(0,0,0,0.3);
  }

  nav a.active {
    background: var(--color-primary);
    color:var(--color-bg);
  }
}
/* small devices mobile phones */
@media screen and (max-width: 600px) {

  nav {
    width: 2.5rem;
    background:rgba(0,0,0,0.3);
    height: max-content;
    z-index: 2;
    position: fixed;
    left: 5%;
    top:55%;
    bottom:38rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }

  nav a {
    height:40px;
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    color:var(--color-light);
    font-size: 0.7rem;
  }

  nav a:hover{
    background: rgba(0,0,0,0.3);
  }

  nav a.active {
    background: var(--color-primary);
    color:var(--color-bg);
  }

}


