<footer id="footer">
  <a class='footer__logo' href="https://ivo-nunes.com/" target="_blank">Ivo Nunes</a>
  <ul class='permalinks'>
    <li class="li"> <a routerLink="">Home</a></li>
    <li class="li"> <a routerLink="who-am-i">Who am I</a></li>
    <li class="li"> <a routerLink="what-i-do">What i do</a></li>
    <li class="li"> <a routerLink="hobbies" >Hobbies</a></li>
  </ul>
  <div class='footer__socials'>
    <a href="https://www.linkedin.com/in/ivo-nunes-30ab1213a/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/inunes1904" target="_blank">
      <i class="fa-brands fa-square-github"></i>
    </a>
    <a href="https://www.codewars.com/users/inunes1904" target="_blank">
      <i class="fa-solid fa-code"></i>
    </a>
  </div>
  <div class="footer__copyright">
    <small>&copy; Ivo Nunes, all rights reserved.</small>
  </div>

</footer>
