<section id="whatIdo">
  <h5>Experience</h5>
  <h2>What I do</h2>
  <div class="text__whatIdo">
    <p >
      As a backend engineer at SIBS, my role is pivotal in the development and maintenance of the robust technology
      underpinning our innovative payment solutions. I design, implement, and optimize the core systems that process
      payments and ensure the reliability and scalability of our payment platforms. Collaborating with cross-functional
      teams, I focus on creating seamless, secure, and high-performance payment experiences. My expertise in programming,
      databases, and distributed systems helps SIBS to lead in the ever-evolving payment industry, providing businesses
      and consumers with convenient, reliable, and secure financial transactions.</p>
    <p >
      With expertise in Java and Python, I have experience in databases, frameworks (Spring and Django), APIs, cloud
      computing basics, making me a versatile backend engineer
      adept at addressing diverse technical challenges.
    </p>
  </div>
  <div class="container experience__container">
    <div class="experience__frontend">
      <h3>FrontEnd</h3>
      <div class="experience__content">
        <article class="experience__details ">
          <h4><i class="fa-brands fa-html5 experience__details-icon"></i> HTML</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article class="experience__details">
          <h4><i class="fa-brands fa-css3-alt experience__details-icon"></i> CSS</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article class="experience__details">
          <h4><i class="fa-brands fa-square-js experience__details-icon"></i> JavaScript</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article  class="experience__details">
          <h4><i class="fa-brands fa-angular experience__details-icon"></i> Angular</h4>
          <small class='text-light text-pad'>Learning</small>
        </article>
        <article  class="experience__details">
          <h4><i class="fa-brands fa-vuejs experience__details-icon"></i> VueJS</h4>
          <small class='text-light text-pad'>Learning</small>
        </article>
      </div>
    </div>
    <div class="experience__backend">
      <h3>BackEnd</h3>
      <div class="experience__content">
        <article  class="experience__details">
          <h4><i class="fa-brands fa-python experience__details-icon"></i> Python</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article  class="experience__details">
          <h4><i class="fa-brands fa-java experience__details-icon"></i> Java</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article  class="experience__details">
          <h4><i class="fa-solid fa-copyright experience__details-icon"></i> Programming</h4>
        </article>
        <article style="padding-top: 1.7rem;"  class="experience__details">
          <h4><i class="fa-brands fa-node-js experience__details-icon"></i> NodeJS</h4>
          <small class='text-light text-pad'>Learning</small>
        </article>
        <article   class="experience__details">
          <h4><i class="fa-brands fa-swift experience__details-icon"></i> Swift</h4>
          <small class='text-light text-pad'>Learning</small>
        </article>
      </div>
    </div>
    <div class="experience__database">
      <h3>Databases</h3>
      <div class="experience__content">
        <article  class="experience__details">
          <h4><i class="fa-solid fa-database experience__details-icon"></i> MS SQLServer</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article  class="experience__details">
          <h4><i class="fa-solid fa-database experience__details-icon"></i> PostgreSQL</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article  class="experience__details">
          <h4><i class="fa-solid fa-database experience__details-icon"></i> Oracle</h4>
          <small class='text-light text-pad'></small>
        </article>
        <article  class="experience__details">
        <h4><i class="fa-solid fa-database experience__details-icon"></i> MySql</h4>
        <small class='text-light text-pad'></small>
      </article>
        <article  class="experience__details">
          <h4><i class="fa-solid fa-database experience__details-icon"></i> MongoDB</h4>
          <small class='text-light text-pad'>Learning</small>
        </article>
      </div>
    </div>
  </div>
</section>

