<script src="../what-ido/what-ido.component.ts"></script>
<section id="whoAmI">
  <h5>Get to know me</h5>
  <h2>Who am I?</h2>

  <div class="container about__container">
    <div class="about__content">
      <p>
        I'm Ivo, a passionate software engineer with a strong foundation in programming and a knack for optimizing solutions in the world of backend development. I thrive on creating efficient and robust software systems, from crafting elegant algorithms to building scalable databases and troubleshooting complex issues. Continuous learning and staying up to date with industry trends are integral to my journey in tech, and I'm dedicated to expanding my skill set and collaborating with diverse teams to transform ideas into high-performance software.
      </p>
      <p>
        Outside of my professional life, I'm an avid traveler and sports enthusiast. These passions provide me with a well-rounded perspective and serve as a wellspring of inspiration that often influences my work. Family and friends are essential in my life, and I cherish the time spent with them. I'm also dedicated to giving back to the community and making a positive impact on the world, whether through mentorship, open-source contributions, or other initiatives. I'm committed to leaving a meaningful mark and contributing to the tech community and beyond.
      </p>
    </div>

    <div class="about__me">
      <div class="about__me-image">
        <img  src="./assets/img/whoami.jpg" class="about-img" alt="About Image" srcset="" />
      </div>

    </div>
  </div>

</section>
<app-what-ido></app-what-ido>


