<section id="" class="header__container">
  <div style=" display: flex;" >
    <div style=" position:relative;
   width:50%;">
      <img class="me" src="./assets/img/IvoPortfolio.png" alt="" srcset="">

    </div>
    <div class="chat__text">
      <div class="smallMedium">
        <h1>Hello, World!</h1>
        <h2>I am Ivo Nunes</h2>
        <h4>Fullstack Developer</h4>
      </div>
      <div class='cta'>
        <a class='btn btn-primary' href="#">Chat with me</a>
      </div>
      <div class='header__socials'>
        <a href="https://www.linkedin.com/in/ivo-nunes-30ab1213a/" target="_blank">
          <i class="fa-brands fa-linkedin-in fa-3x"></i>
        </a>
        <a href="https://github.com/inunes1904" target="_blank">
          <i class="fa-brands fa-github fa-3x social"></i>
        </a>
        <a href="https://www.facebook.com/ivo.nunes.56" target="_blank">
          <i class="fa-brands fa-facebook fa-3x social"></i>
        </a>
      </div>
    </div>
  </div>

</section>
